Repository WalletWasabi/WasabiDoc, pull requests merged in 2019-12, with the labels that each got.

#368 Add new words to glossary
  docs/glossary/README.md
Labels: good first issue, ready for review

#374 Added FAQ about full node solutions
  docs/FAQ/FAQ-GeneralBitcoinPrivacy.md
Labels: FAQ

#382 Improve the explanation of label edits
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ, good first issue, ready for review

#383 Fix typo
  docs/using-wasabi/DeterministicBuild.md
Labels: ready for review, typo

#380 Update OS requirements
  docs/FAQ/FAQ-Introduction.md
Labels: FAQ, good first issue, ready for review

#379 Add PSBT to glossary
  docs/glossary/README.md
Labels: ready for review

#389 Update .NET Core 3.1 SDK
  docs/using-wasabi/DeterministicBuild.md
Labels: ready for review

#391 Update links in CoinJoin page and couple of fixes
  docs/using-wasabi/CoinJoin.md
Labels: ready for review, using wasabi

#392 Fix link
  docs/using-wasabi/ColdWasabi.md
Labels: ready for review

#393 Add Tumbling / Tumbler to Glossary
  docs/glossary/README.md
Labels: ready for review

#387 Update Glossary
  docs/glossary/README.md
Labels: good first issue, ready for review

#394 Move FAQ to correct location
  docs/FAQ/FAQ-GeneralBitcoinPrivacy.md
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ, ready for review

#375 Removing FAQ about MinGapLimit, it's changed in 1.1.10
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ

#371 Removing hack around spent bug, it's fixed in 1.1.10
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ

#390 Fix Tails tutorial capitalization and add v1.1.10
  docs/using-wasabi/WasabiSetupTails.md
Labels: ready for review, typo

#398 Update contribution game
  docs/building-wasabi/ContributionGame.md
Labels: ready for review

#399 Add FAQ about Wasabi as false positive
  docs/FAQ/FAQ-Installation.md
Labels: FAQ, good first issue, ready for review

#381 Add CoinJoin examples
  docs/using-wasabi/CoinJoin.md
Labels: good first issue, ready for review, using wasabi

#401 Add Partial Bitcoin Core integration
  docs/using-wasabi/NetworkLevelPrivacy.md
Labels: ready for review

#403 Update Tails tutorial
  docs/using-wasabi/WasabiSetupTails.md
Labels: ready for review

#405 [FAQ] add wassabee explanation
  docs/FAQ/FAQ-Installation.md
Labels: FAQ

#407 Small fixes
  docs/using-wasabi/ChangeCoins.md
Labels: ready for review, typo

#408 Update GainingPrivacyWasabi.md
  docs/why-wasabi/GainingPrivacyWasabi.md
Labels: good first issue, ready for review

#411 Update FAQ-UseWasabi.md
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ, good first issue, ready for review

#412 Update README.md
  README.md
Labels: ready for review

#410 Add search bar placeholder
  docs/.vuepress/config.js
Labels: ready for review, structure

#400 Remove offline video
  docs/why-wasabi/WhyPrivacyImportant.md
Labels: ready for review

#404 Add new items to glossary
  docs/glossary/README.md
Labels: good first issue, ready for review

#388 Add Tor bridges FAQ
  docs/FAQ/FAQ-GeneralBitcoinPrivacy.md
Labels: FAQ, good first issue, ready for review

#414 Fix search placeholder
  docs/.vuepress/config.js
Labels: ready for review, structure

#402 Update labeling across the documentation
  docs/FAQ/FAQ-UseWasabi.md
  docs/using-wasabi/Receive.md
  docs/why-wasabi/10Commandments.md
Labels: good first issue, help wanted, ready for review

#423 [FAQ] Trezor One PIN
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ

#421 [GLOSSARY] Change filename to get Sidebar menu
  docs/.vuepress/config.js
  docs/glossary/Glossary.md
Labels: structure

#422 [FAQ] trezor one passphrase
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ

#424 [FAQ] type in passprase trezor t
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ

#427 [GLOSSARY] zero link
  docs/glossary/Glossary.md
Labels: glossary

#428 [GLOSSARY] Chaumian CoinJoin
  docs/glossary/Glossary.md
Labels: glossary

#429 [GLOSSARY] input
  docs/glossary/Glossary.md
Labels: glossary

#442 [GLOSSARY] blockchain analysis
  docs/glossary/Glossary.md
Labels: glossary

#436 [GLOSSARY] address
  docs/glossary/Glossary.md
Labels: glossary

#431 [GLOSSARY] hot wallet
  docs/glossary/Glossary.md
Labels: glossary

#430 [GLOSSARY] change
  docs/glossary/Glossary.md
Labels: glossary

#441 [GLOSSARY] transaction surveilance company
  docs/glossary/Glossary.md
Labels: glossary

#435 [GLOSSARY] public key
  docs/glossary/Glossary.md
Labels: glossary

#439 [GLOSSARY] proof of work
  docs/glossary/Glossary.md
Labels: glossary

#437 [GLOSSARY] block
  docs/glossary/Glossary.md
Labels: glossary

#434 [GLOSSARY] private key
  docs/glossary/Glossary.md
Labels: glossary

#433 [GLOSSARY] hash
  docs/glossary/Glossary.md
Labels: glossary

#432 [GLOSSARY] segwit
  docs/glossary/Glossary.md
Labels: glossary

#445 add algolia search config
  docs/.vuepress/config.js
Labels: structure

#426 [FIX] typos and minor changes
  docs/glossary/Glossary.md
Labels: glossary

#438 [GLOSSARY] blockchain
  docs/glossary/Glossary.md
Labels: glossary

#448 Increase number of search results
  docs/.vuepress/config.js
Labels: structure

#444 [STRUCTUR] separate glossary
  docs/.vuepress/config.js
  docs/glossary/Glossary-GeneralBitcoin.md
  docs/glossary/Glossary-PrivacyWasabi.md
  docs/glossary/README.md
Labels: glossary, structure

#458 Algolia updates
  docs/.vuepress/config.js
  docs/.vuepress/styles/index.styl
Labels: structure

#456 Add False Positive page
  docs/.vuepress/config.js
  docs/building-wasabi/FalsePositive.md
  docs/building-wasabi/README.md
Labels: help wanted, ready for review
