Repository WalletWasabi/WasabiDoc, pull requests merged in 2019-11, with the labels that each got.

#296 Create Wallet Recovery file
  docs/.vuepress/config.js
  docs/.vuepress/public/WalletRecovery.png
  docs/.vuepress/public/WalletRecoveryAdvanced.png
  docs/using-wasabi/README.md
  docs/using-wasabi/WalletRecovery.md
Labels: using wasabi

#320 [FAQ] Add delete BlockStates to fix spent issue
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ, ready for review

#335 [FAQ] Whitemode
  docs/.vuepress/public/WhiteMode.png
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ, ready for review

#333 [FAQ] Improve explanation of change best practices
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ, ready for review

#343 [FAQ] incoming transaction mempool
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ, ready for review

#337 [USING] Move Change FAQ to separate chapter
  docs/.vuepress/config.js
  docs/FAQ/FAQ-UseWasabi.md
  docs/using-wasabi/ChangeCoins.md
  docs/using-wasabi/README.md
Labels: FAQ, structure, using wasabi

#346 [BUILDING] Add summary of license
  docs/building-wasabi/LICENSE.md
Labels: building wasabi, ready for review

#350 Add FAQ about difference between Linux versions
  docs/FAQ/FAQ-Installation.md
Labels: FAQ, ready for review

#347 [FAQ] explain 2-of-3 merging rule
  docs/FAQ/FAQ-Contribution.md
Labels: FAQ, ready for review

#349 Add custom fee FAQ
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ, ready for review

#345 [USING] add checkout branch
  docs/using-wasabi/BuildSource.md
Labels: ready for review, using wasabi

#344 [USING] Chapter on Receive
  docs/.vuepress/config.js
  docs/IntroWasabi.md
  docs/using-wasabi/README.md
  docs/using-wasabi/Receive.md
Labels: ready for review, using wasabi

#342 [USING] Chapter on Using CoinJoin
  docs/.vuepress/config.js
  docs/.vuepress/public/CoinJoin.png
  docs/.vuepress/public/CoinJoinAnonsetTargetCheck.png
  docs/.vuepress/public/CoinJoinAnonsetTargetGreen.png
  docs/.vuepress/public/CoinJoinAnonsetTargetYellow.png
  docs/.vuepress/public/CoinJoinCoinsBeingCoinJoined.png
  docs/FAQ/FAQ-UseWasabi.md
  docs/IntroWasabi.md
  docs/using-wasabi/CoinJoin.md
  docs/using-wasabi/README.md
Labels: help wanted, ready for review, using wasabi

#351 Add FAQ about coin requeue
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ, ready for review

#352 [BUILDING] Rewrite Contribution Game
  docs/building-wasabi/ContributionGame.md
Labels: building wasabi, ready for review

#364 Update MacOS version on docs
  docs/FAQ/FAQ-Introduction.md
Labels: FAQ, ready for review

#361 Add FAQ about ideal CoinJoin times
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ, ready for review

#366 Remove ledger broken link and add warning
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ, ready for review

#363 Add Wasabi glossary
  docs/.vuepress/config.js
  docs/glossary/README.md
Labels: good first issue, help wanted, ready for review, structure

#365 Add Glossary link to main README.md
  README.md
Labels: ready for review

#362 Refactoring of the Why Wasabi section.
  docs/.vuepress/config.js
  docs/why-wasabi/GainingPrivacyWasabi.md
  docs/why-wasabi/README.md
Labels: why wasabi
