Repository WalletWasabi/WasabiDoc, pull requests merged in 2019-09, with the labels that each got.

#159 Create TransactionSurveillanceCompanies.md
  docs/.vuepress/config.js
  docs/why-wasabi/TransactionSurveillanceCompanies.md
Labels: ready for review, why wasabi

#170 Update FAQ-UseWasabi.md
  docs/FAQ/FAQ-UseWasabi.md
Labels: Using wasabi, ready for review

#158 Update FAQ-GeneralBitcoinPrivacy.md
  docs/FAQ/FAQ-GeneralBitcoinPrivacy.md
Labels: FAQ

#172 Update FAQ-Contribution.md
  docs/FAQ/FAQ-Contribution.md
Labels: ready for review

#178 Anonimity set FAQ
  docs/FAQ/FAQ-UseWasabi.md
Labels: ready for review

#177 Add FAQ about CoinJoin via tBTC
  docs/FAQ/FAQ-UseWasabi.md
Labels: ready for review

#179 Add written intro after the infographic
  docs/why-wasabi/README.md
Labels: ready for review

#175 Add FAQ about Wasabi uptime status
  docs/FAQ/FAQ-Introduction.md
Labels: ready for review

#174 Create Deanonimization.md
  docs/.vuepress/config.js
  docs/using-wasabi/Deanonimization.md
Labels: ready for review

#176 Add FAQ about Missing Filters
  docs/FAQ/FAQ-UseWasabi.md
Labels: ready for review

#163 Rename BIP.md file to BIPs.md
  docs/.vuepress/config.js
  docs/using-wasabi/BIPs.md
Labels: ready for review

#186 Update LurkingWifeMode.md
  docs/using-wasabi/LurkingWifeMode.md
Labels: using wasabi

#192 Add FAQ about Lurking Wife Mode
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ

#182 Delete ManualTesting.md
  docs/.vuepress/config.js
  docs/IntroWasabi.md
  docs/building-wasabi/ManualTesting.md
Labels: building wasabi

#201 Remove statement about broadcasting tx
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ

#202 Add FAQ about Coordinator code
  docs/FAQ/FAQ-Introduction.md
Labels: FAQ

#205 Add elements to using wasabi menu (sidebar)
  docs/.vuepress/config.js
Labels: using wasabi

#206 Update mobile menu with new chapters
  docs/using-wasabi/README.md
Labels: using wasabi

#212 Create Wasabi setup on Tails.md
  docs/using-wasabi/WasabiSetupTails.md
Labels: using wasabi

#218 Fix typos and some rephrasing
  docs/FAQ/FAQ-Introduction.md
  docs/FAQ/FAQ-UseWasabi.md
  docs/building-wasabi/README.md
  docs/using-wasabi/InstallPackage.md
Labels: typo
