Repository WalletWasabi/WasabiDoc, pull requests merged in 2020-05, with the labels that each got.

#803 [USING] add payjoin
  docs/.vuepress/config.js
  docs/.vuepress/public/PayJoinSend.png
  docs/using-wasabi/PayJoin.md
  docs/using-wasabi/README.md
Labels: ready for review, using wasabi

#804 [BUILDING] remove P2EP
  docs/.vuepress/config.js
  docs/building-wasabi/PayToEndPoint.md
  docs/building-wasabi/README.md
Labels: building wasabi, ready for review

#805 [USING] fix PayJoin
  docs/using-wasabi/BIPs.md
  docs/using-wasabi/PayJoin.md
Labels: ready for review, using wasabi

#819 [GLOSSARY] minor fixes to general bitcoin
  docs/glossary/Glossary-GeneralBitcoin.md
Labels: glossary, ready for review

#815 Update RPC.md
  docs/using-wasabi/RPC.md
Labels: using wasabi

#827 [FAQ] add cpfp
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ, ready for review

#837 [USING] verify full node is connected
  docs/using-wasabi/BitcoinFullNode.md
Labels: ready for review, using wasabi

#869 [USING] make bips a linked list
  docs/using-wasabi/BIPs.md
Labels: ready for review, using wasabi

#870 [BUILDING] education contribution game
  docs/building-wasabi/ContributionGame.md
Labels: building wasabi, ready for review
