Repository WalletWasabi/WasabiDoc, pull requests merged in 2020-01, with the labels that each got.

#464 Update license year to 2020
  LICENSE
Labels: ready for review

#466 Clarify how to download PGP public key
  docs/using-wasabi/InstallPackage.md
Labels: good first issue, ready for review, using wasabi

#409 Update HardwareWalletTestingGuide.md
  docs/building-wasabi/HardwareWalletTestingGuide.md
Labels: building wasabi

#462 Bump .NET Core SDK version to the required version 3.1
  docs/.vuepress/variables.js
  docs/FAQ/FAQ-Installation.md
  docs/building-wasabi/HowToDebug.md
  docs/using-wasabi/BuildSource.md
  docs/using-wasabi/DeterministicBuild.md
Labels: building wasabi, ready for review

#452 Add new terms and fix order
  docs/glossary/Glossary-GeneralBitcoin.md
Labels: glossary, ready for review

#477 Add Custodial and Non-Custodial to Glossary
  docs/glossary/Glossary-GeneralBitcoin.md
Labels: glossary, ready for review

#478 Fix :::details and add Shield explanation
  docs/glossary/Glossary-PrivacyWasabi.md
Labels: glossary, ready for review

#475 [USING] Add chapter on Send
  docs/.vuepress/config.js
  docs/using-wasabi/README.md
  docs/using-wasabi/Send.md
Labels: help wanted, ready for review, using wasabi

#483 Add rename wallet FAQ
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ, ready for review

#474 [USING] Add Joinmarket Explanation
  docs/.vuepress/config.js
  docs/using-wasabi/Joinmarket.md
  docs/using-wasabi/README.md
Labels: help wanted, ready for review, using wasabi

#453 Add Diceware tutorial
  docs/using-wasabi/WalletGeneration.md
Labels: ready for review, using wasabi

#457 Add smooth scroll to documentation
  docs/.vuepress/config.js
Labels: ready for review, structure

#490 Fix typo: tansaction to transaction
  docs/FAQ/FAQ-UseWasabi.md
Labels: typo

#495 [USING] Add RPC server [merge upon release]
  docs/.vuepress/config.js
  docs/using-wasabi/README.md
  docs/using-wasabi/RPC.md
Labels: using wasabi

#447 [UPDATE] Observers [merge upon release]
  docs/.vuepress/public/ReceiveAddressDropDownMenu.png
  docs/.vuepress/public/ReceiveLabelingRequired.png
  docs/FAQ/FAQ-UseWasabi.md
  docs/using-wasabi/Receive.md
  docs/why-wasabi/10Commandments.md
Labels: FAQ, ready for review, using wasabi

#500 [USING] Create Wasabi Setup in Virtual Machines
  docs/.vuepress/config.js
  docs/using-wasabi/README.md
  docs/using-wasabi/WasabiSetupVM.md
Labels: ready for review, using wasabi

#509 Add RPC to Glossary
  docs/glossary/Glossary-PrivacyWasabi.md
Labels: glossary, ready for review

#510 Add Daemon to Glossary
  docs/glossary/Glossary-PrivacyWasabi.md
Labels: glossary, ready for review

#511 Add Mainnet, Testnet, Regtest to Glossary
  docs/glossary/Glossary-GeneralBitcoin.md
Labels: glossary, ready for review

#513 [FAQ] p2many RPC
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ

#518 [USING] Add chapter on Bitcoin Full Node
  docs/.vuepress/config.js
  docs/.vuepress/public/SettingsBitcoinCore.png
  docs/.vuepress/public/SettingsBitcoinCoreRemote.png
  docs/FAQ/FAQ-UseWasabi.md
  docs/using-wasabi/BitcoinFullNode.md
  docs/using-wasabi/README.md
Labels: ready for review, using wasabi
