Repository WalletWasabi/WasabiDoc, pull requests merged in 2020-04, with the labels that each got.

#662 Create WasabiResearchClub.md
  docs/.vuepress/config.js
  docs/using-wasabi/README.md
  docs/using-wasabi/WasabiResearchClub.md
Labels: ready for review, using wasabi

#693 [BUILDING] Contribution Game v1.1.11
  docs/building-wasabi/ContributionGame.md
Labels: building wasabi, ready for review

#701 [USING FAQ] Custom Change
  docs/.vuepress/public/SendCustomChange.png
  docs/.vuepress/public/SettingsCustomChange.png
  docs/FAQ/FAQ-UseWasabi.md
  docs/using-wasabi/Send.md
Labels: FAQ, ready for review, using wasabi

#702 [STRUCTURE] update all pictures
  docs/.vuepress/public/LWMExplorerActivate.png
  docs/.vuepress/public/LWMExplorerDeactivate.png
  docs/.vuepress/public/LWMSettings.png
  docs/.vuepress/public/LockScreenSet1.png
  docs/.vuepress/public/LockScreenSet2.png
  docs/.vuepress/public/MenuFile.png
  docs/.vuepress/public/MenuFileOpen.png
  docs/.vuepress/public/MenuHelp.png
  docs/.vuepress/public/MenuTools.png
  docs/.vuepress/public/ReceiveAddressDropDownMenu.png
  docs/.vuepress/public/ReceiveLabelingRequired.png
  docs/.vuepress/public/Send.png
  docs/.vuepress/public/SendAmountFeePassword.png
  docs/.vuepress/public/SettingsBitcoinCore.png
  docs/.vuepress/public/SettingsLockScreen.png
  docs/.vuepress/public/UIConfigLocked.png
  docs/.vuepress/public/UIConfigUnlocked.png
  docs/.vuepress/public/WalletExplorer.png
  docs/.vuepress/public/WalletExplorerLoaded.png
  docs/.vuepress/public/WalletExplorerUnloaded.png
  docs/.vuepress/public/WalletManagerGenerateWallet.png
  docs/.vuepress/public/WalletManagerLoadWallet.png
  docs/using-wasabi/LockScreen.md
  docs/using-wasabi/LurkingWifeMode.md
Labels: ready for review, structure

#705 [USING] Fix fullnode
  docs/using-wasabi/BitcoinFullNode.md
Labels: ready for review, using wasabi

#704 [USING] Wallet Load
  docs/.vuepress/config.js
  docs/using-wasabi/README.md
  docs/using-wasabi/WalletLoad.md
Labels: ready for review, using wasabi

#703 [USING] update macOS install
  docs/.vuepress/public/InstallMacConfirmOpen.png
  docs/using-wasabi/InstallPackage.md
Labels: ready for review, using wasabi

#706 [USING] add synchronization to load wallet
  docs/FAQ/FAQ-UseWasabi.md
  docs/using-wasabi/WalletLoad.md
Labels: ready for review, using wasabi

#707 [USING] add picture to mac install
  docs/.vuepress/public/InstallMacConfirm.png
  docs/.vuepress/public/InstallMacDragDrop.png
  docs/using-wasabi/InstallPackage.md
Labels: ready for review, using wasabi

#710 fix picture size
  docs/.vuepress/public/InstallMacConfirm.png
Labels: bug, ready for review, using wasabi

#715 [USING] rewrite and declutter daemon
  docs/using-wasabi/Daemon.md
Labels: bug, ready for review, using wasabi

#717 update minimum change / maximum fee
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ, ready for review

#724 [USING] Add Testnet
  docs/.vuepress/config.js
  docs/FAQ/FAQ-UseWasabi.md
  docs/using-wasabi/BuildSource.md
  docs/using-wasabi/README.md
  docs/using-wasabi/Testnet.md
Labels: ready for review, using wasabi

#727 [USING] minor rework of BuildSource
  docs/using-wasabi/BuildSource.md
Labels: ready for review, using wasabi

#730 [USING] rework Receive
  docs/using-wasabi/Receive.md
Labels: ready for review, using wasabi

#732 [USING] rework CoinJoin
  docs/using-wasabi/CoinJoin.md
Labels: ready for review, using wasabi

#729 [USING] move password basics
  docs/using-wasabi/PasswordBestPractices.md
  docs/using-wasabi/WalletGeneration.md
Labels: ready for review, using wasabi

#728 [USING] Add Backup Best Practices
  docs/.vuepress/config.js
  docs/using-wasabi/BackupBestPractices.md
  docs/using-wasabi/README.md
  docs/using-wasabi/WalletGeneration.md
Labels: ready for review, using wasabi

#734 [USING] rework Cold Wasabi
  docs/using-wasabi/ColdWasabi.md
Labels: ready for review, using wasabi

#733 [USING] rework Send
  docs/using-wasabi/Send.md
Labels: ready for review, using wasabi

#735 [USING] rework Bitcoin Full Node
  docs/using-wasabi/BitcoinFullNode.md
Labels: ready for review, using wasabi

#739 [USING] Rework recover wasabi
  docs/using-wasabi/README.md
  docs/using-wasabi/WalletRecovery.md
Labels: ready for review, using wasabi

#741 [DECLUTTER USING] remove lost password strategy
  docs/.vuepress/config.js
  docs/using-wasabi/10Commandments.md
  docs/using-wasabi/LostPassword.md
  docs/using-wasabi/README.md
Labels: declutter, ready for review, using wasabi

#737 [USING] rework change coins
  docs/using-wasabi/ChangeCoins.md
Labels: ready for review, using wasabi

#743 [USING] rework deterministic build
  docs/.vuepress/public/DeterministicBuildAll.png
  docs/.vuepress/public/DeterministicBuildFiles.png
  docs/.vuepress/public/DeterministicBuildFolders.png
  docs/using-wasabi/DeterministicBuild.md
Labels: ready for review, using wasabi

#747 [USING] rework lock screen
  docs/using-wasabi/LockScreen.md
Labels: ready for review, using wasabi

#745 [USING] rework lwm
  docs/using-wasabi/LurkingWifeMode.md
Labels: ready for review, using wasabi

#746 [USING] rework testnet
  docs/using-wasabi/Testnet.md
Labels: ready for review, using wasabi

#758 [FAQ] Import watch only xpub wallet
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ, ready for review

#744 [USING] rework tails setup
  docs/using-wasabi/WasabiSetupTails.md
Labels: ready for review, using wasabi

#760 [USING] add RPC enqueue password
  docs/using-wasabi/RPC.md
Labels: ready for review, using wasabi

#740 [USING] rework Restore Electrum
  docs/using-wasabi/RestoreElectrum.md
Labels: ready for review, using wasabi

#748 [USING] add cd to daemon
  docs/using-wasabi/Daemon.md
Labels: ready for review, using wasabi

#742 [USING] rework password finder
  docs/using-wasabi/PasswordFinder.md
Labels: ready for review, using wasabi

#714 [FAQ] legal documents
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ, ready for review
