Repository WalletWasabi/WasabiDoc, pull requests merged in 2020-03, with the labels that each got.

#611 [BUILDING] Design Contributino Game
  docs/building-wasabi/ContributionGame.md
Labels: building wasabi, ready for review

#334 [WIP] Add DoS attack
  docs/FAQ/FAQ-UseWasabi.md
Labels: help wanted

#648 Fix typo
  docs/using-wasabi/PasswordBestPractices.md
Labels: typo

#650 [DECLUTTER FAQ] rework Contribution
  docs/FAQ/FAQ-Contribution.md
Labels: FAQ, declutter, ready for review

#649 [DECLUTTER FAQ] rework General Bitcoin Privacy
  docs/FAQ/FAQ-GeneralBitcoinPrivacy.md
Labels: FAQ, declutter, ready for review

#651 [DECLUTTER FAQ] rework Installation
  docs/FAQ/FAQ-Installation.md
Labels: FAQ, declutter, ready for review

#652 [DECLUTTER FAQ] rework Introduction
  docs/FAQ/FAQ-Introduction.md
Labels: FAQ, declutter, ready for review

#666 [DECLUTTER] Remove ToDo List
  docs/.vuepress/config.js
  docs/FAQ/FAQ-Contribution.md
  docs/FAQ/FAQ-UseWasabi.md
  docs/building-wasabi/ContributionChecklist.md
  docs/building-wasabi/README.md
  docs/building-wasabi/ToDo.md
Labels: building wasabi, declutter, ready for review

#678 Remove duplicate paragraph
  docs/why-wasabi/TransactionSurveillanceCompanies.md
Labels: FAQ, declutter

#656 [DECLUTTER FAQ] Rework Use Wasabi
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ, declutter, ready for review

#683 [WHY] CoinJoin Legal Concern
  docs/.vuepress/config.js
  docs/.vuepress/public/AddressDistribution.png
  docs/FAQ/FAQ-UseWasabi.md
  docs/why-wasabi/LegalConcern.md
  docs/why-wasabi/README.md
Labels: ready for review, why wasabi
