Repository WalletWasabi/WasabiDoc, pull requests merged in 2020-02, with the labels that each got.

#533 Upgrade VuePress
  package-lock.json
  package.json
Labels: structure

#538 [DECLUTTER] make clear how to use docs
  docs/README.md
Labels: declutter, ready for review

#541 [DECLUTTER] rearrange structure
  docs/.vuepress/config.js
  docs/using-wasabi/README.md
Labels: declutter, ready for review, using wasabi

#531 [FAQ] Changing the gap limit
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ

#539 [DECLUTTER] [USING] Explain Wasabi like Im 5
  docs/.vuepress/config.js
  docs/FAQ/FAQ-Introduction.md
  docs/README.md
  docs/using-wasabi/ELI5.md
  docs/using-wasabi/README.md
Labels: declutter, ready for review, using wasabi

#545 Update coordinator address FAQ
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ, ready for review

#540 [DECLUTTER] remove PGP verification on windows
  docs/.vuepress/public/InstallWindowsGUIVerify.png
  docs/.vuepress/public/InstallWindowsGpgp4winSetup.png
  docs/.vuepress/public/InstallWindowsImportPGPManualImport.png
  docs/.vuepress/public/InstallWindowsImportPGPManualKleopatra.png
  docs/.vuepress/public/InstallWindowsImportPGPManualNewFile.png
  docs/.vuepress/public/InstallWindowsImportPGPManualText.png
  docs/.vuepress/public/InstallWindowsKleopatraImportPGP.png
  docs/.vuepress/public/InstallWindowsKleopatraPGPConfirm.png
  docs/.vuepress/public/InstallWindowsKleopatraSearchPGP.png
  docs/.vuepress/public/InstallWindowsKleopatraValidSig.png
  docs/.vuepress/public/InstallWindowsKleopatraVerifyFingerprint.png
  docs/.vuepress/public/InstallWindowsSignature.png
  docs/using-wasabi/InstallPackage.md
Labels: declutter, ready for review, using wasabi

#544 [DECLUTTER] remove redundant intro
  docs/IntroWasabi.md
Labels: declutter, ready for review

#554 [DECLUTTER USING] explain source
  docs/using-wasabi/BuildSource.md
Labels: declutter, ready for review, using wasabi

#557 [DECLUTTER] Move Networl Level Privacy to Why
  docs/.vuepress/config.js
  docs/FAQ/FAQ-UseWasabi.md
  docs/building-wasabi/TechnicalOverview.md
  docs/using-wasabi/README.md
  docs/why-wasabi/BitcoinPrivacy.md
  docs/why-wasabi/GainingPrivacyWasabi.md
  docs/why-wasabi/NetworkLevelPrivacy.md
  docs/why-wasabi/README.md
Labels: declutter, ready for review, using wasabi, why wasabi

#556 [DECLUTTER] move address reuse
  docs/.vuepress/config.js
  docs/FAQ/FAQ-GeneralBitcoinPrivacy.md
  docs/FAQ/FAQ-UseWasabi.md
  docs/glossary/Glossary-PrivacyWasabi.md
  docs/using-wasabi/AddressReuse.md
  docs/using-wasabi/README.md
  docs/using-wasabi/Receive.md
  docs/using-wasabi/Send.md
  docs/why-wasabi/BitcoinPrivacy.md
Labels: declutter, ready for review, using wasabi, why wasabi

#553 [DECLUTTER USING] explain package
  docs/using-wasabi/InstallPackage.md
Labels: declutter, ready for review, using wasabi

#552 [DECLUTTER] move 10 commandments to using introduction
  docs/.vuepress/config.js
  docs/using-wasabi/10Commandments.md
  docs/using-wasabi/README.md
  docs/why-wasabi/README.md
Labels: declutter, ready for review, structure

#563 [DECLUTTER WHY] remove gaining privacy with wasabi - fourth attempt
  docs/.vuepress/config.js
  docs/why-wasabi/BitcoinPrivacy.md
  docs/why-wasabi/GainingPrivacyWasabi.md
  docs/why-wasabi/README.md
Labels: declutter, why wasabi

#565 [FIX] bitcoin full node sidebar
  docs/.vuepress/config.js
  docs/using-wasabi/README.md
Labels: structure, using wasabi

#546 Add udev rules to Tails tutorial
  docs/using-wasabi/WasabiSetupTails.md
Labels: building wasabi, ready for review

#570 [DECLUTTER USING] Rearrange using advanced chapters
  docs/.vuepress/config.js
  docs/using-wasabi/README.md
Labels: declutter, ready for review, why wasabi

#568 [DECLUTTER FAQ] re-write connect full node
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ, declutter, ready for review

#574 [DECLUTTER USING] move videos
  docs/.vuepress/public/DownloadAll.png
  docs/.vuepress/public/DownloadMac.png
  docs/.vuepress/public/DownloadWindows.png
  docs/using-wasabi/InstallPackage.md
Labels: declutter, ready for review, using wasabi

#564 [DECLUTTER USING] re-write 10 Commandments
  docs/using-wasabi/10Commandments.md
Labels: declutter, ready for review, using wasabi

#571 [USING] Change heuristics
  docs/using-wasabi/ChangeCoins.md
Labels: ready for review, using wasabi

#578 [DECLUTTER BUILDING] remove coding convention
  docs/.vuepress/config.js
  docs/building-wasabi/CodingConventions.md
  docs/building-wasabi/README.md
Labels: building wasabi, declutter, ready for review

#576 [DECLUTTER BUILDING] rewrite contribution checklist
  docs/building-wasabi/ContributionChecklist.md
Labels: building wasabi, declutter, help wanted, ready for review

#566 [FAQ] fix ledger privacy leak details
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ, ready for review

#567 [DECLUTTER FAQ] re-write consolidation
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ, declutter, ready for review

#577 [DECLUTTER BUILDING] update todo
  docs/building-wasabi/ToDo.md
Labels: building wasabi, declutter, help wanted, ready for review

#569 [DECLUTTER WHY] Rework Privacy in Bitcoin
  docs/.vuepress/config.js
  docs/FAQ/FAQ-GeneralBitcoinPrivacy.md
  docs/FAQ/FAQ-UseWasabi.md
  docs/glossary/Glossary-PrivacyWasabi.md
  docs/using-wasabi/Receive.md
  docs/using-wasabi/Send.md
  docs/why-wasabi/AddressReuse.md
  docs/why-wasabi/Coins.md
  docs/why-wasabi/NetworkLevelPrivacy.md
  docs/why-wasabi/README.md
  docs/why-wasabi/TransactionGraph.md
  docs/why-wasabi/WhyFinancialPrivacy.md
Labels: declutter, ready for review, structure, why wasabi

#585 [BUILDING] give credits
  docs/building-wasabi/Credits.md
Labels: building wasabi, ready for review

#584 [DECLUTTER BUILDING] separate structure, remove CodeCoverage
  docs/.vuepress/config.js
  docs/FAQ/README.md
  docs/building-wasabi/CodeCoverage.md
  docs/building-wasabi/README.md
  docs/glossary/README.md
  docs/using-wasabi/README.md
  docs/why-wasabi/README.md
Labels: building wasabi, declutter, ready for review

#589 [DECLUTTER WHY USING] move change heuristics to why
  docs/using-wasabi/ChangeCoins.md
  docs/why-wasabi/Coins.md
Labels: declutter, ready for review, using wasabi, why wasabi

#587 [DECLUTTER WHY] rewrite network level privacy
  docs/why-wasabi/NetworkLevelPrivacy.md
Labels: building wasabi, declutter, ready for review

#590 [USING] sending max with rpc
  docs/using-wasabi/RPC.md
Labels: ready for review, using wasabi

#594 Remove redundant Tor information
  docs/FAQ/FAQ-Introduction.md
Labels: FAQ, declutter

#592 [DECLUTTER FAQ] re-write hardware wallet
  docs/FAQ/FAQ-UseWasabi.md
Labels: FAQ, declutter

#591 [DECLUTTER USING] re-write cold wasabi
  docs/.vuepress/config.js
  docs/.vuepress/public/PSBTBroadcast.png
  docs/.vuepress/public/PSBTUnsigned.png
  docs/using-wasabi/ColdWasabi.md
  docs/using-wasabi/README.md
  docs/using-wasabi/WalletGeneration.md
Labels: declutter, ready for review, using wasabi

#603 Remove Ports.md
  docs/.vuepress/config.js
  docs/building-wasabi/Ports.md
  docs/building-wasabi/README.md
Labels: declutter

#602 Remove HowToDebug.md
  docs/.vuepress/config.js
  docs/building-wasabi/HowToDebug.md
  docs/building-wasabi/README.md
Labels: declutter

#601 Remove HardwareWalletTestingGuide.md
  docs/.vuepress/config.js
  docs/building-wasabi/HardwareWalletTestingGuide.md
  docs/building-wasabi/README.md
Labels: declutter

#606 [FAQ] add Dan as maintainer
  docs/FAQ/FAQ-Contribution.md
Labels: FAQ
